.logo {
    width: 100px;
    border-radius: 50px;
    margin: 5px; }

/* INDEX */
.card {
    border-color: #023f0b;
    height: 100%; 
    padding: 10px;
    margin: 10px;
    width: 600px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}

.card-title {
    color: #343a40;
}

.card-text {
    color: #343a40;
}

.btn {
    background-color: #947006;
    color: #343a40;
}

/* CONTACTO */
.buttons {
    display: flex;
    justify-content: center; }

.btn {
    background-color: #049b48;
    border-color: #025025;
    margin: 10px;
    text-align: center; }

.btn:hover {
    background-color: #4e4d4c; }

.form-control {
    border: 2.5px solid #636566;
    background-color: #d4ab74; }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; }

